#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: coral;
    padding: 50px;
    
}
.divClass {
    border: 20px aqua;
    background-color: aqua;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}