h1 {
    color:blue
}
#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: coral;
    padding: 50px;
    border: 12px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}
.divClass {
    border: 20px aqua;
    background-color: aqua;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
img {
    width: 400px;
}